<!DOCTYPE html>

<html>
<head>
    <title>404</title>
    <link rel="icon" href="/img/title.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
     <div class="main-content">
        {{>header}}

        <p>The {{title}} page you are looking for has not been found</p> 
     </div>
     
     {{>footer}}
    
</body>

</html>